<nav class="nav-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="nav-bar-brand">
                    <%= link_to  "Fotobook", root_path %>   
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-3">
                <div class="search-text">
                    <input type="text" name="search" id="search" placeholder="Search Photo / Album" />
                </div>
            </div>

            <% if user_signed_in? %>
                <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="account">
                        <div class="avatar">
                            <img src="<%=current_user.avatar%>" alt="None" />
                        </div>
                        <div >
                            <span><%= link_to  current_user.last_name<<current_user.first_name, user_path(current_user), class:"name "%></span>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-3">
                    <div class="btn-log">
                    <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
                    </div>
                </div>
            <% else %>
                <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-3">
                    <div class="btn-log">
                    <%= link_to "Log in", new_user_session_path %><br />
                    </div>
                </div>
            <%end%>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row pt-1 out-card pb-5">
        <div class="col-lg-2 col-md-2 col-sm-2 col-12 p-0">
            <div class="left-col d-flex">
                <ul class="list pt-4">
                    <li>
                        <%= link_to  "Feed", photos_path, class:'active' %>
                    </li>
                    <li>
                         <%= link_to "Discover", discovers_photos_path %><br />
                    </li>
                </ul>
            </div>
        </div>
        <div class="mid-col col-lg-8 col-md-10 col-sm-10 col-12 p-0 pb-4">
            <div class="col-12 pl-0 pr-0">
                <div class="pt-4 pb-4">
                    <div class="btn-select d-flex">
                        <%= link_to "photo", photos_path, class:"active"%>
                        <%= link_to "Album", albums_path%>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-12">
                <div class="row">
                    <%@photos.each do |photo|%>
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="items mt-3 mb-3 d-flex">
                                <div class="col-6 p-0">
                                    <div class="left-item w-100" data-toggle="modal" data-target="<%= "#exampleModalCenter#{photo.id}" %>">
                                        <%# <img src="https://picsum.photos/300" /> %>
                                        <%= image_tag photo.image.thumb_photo.url if photo.image? %>
                                    </div>
                                </div>
                                <div class="col-6 p-2">
                                    <div class="right-item">
                                        <div class="header-item d-flex">
                                            <div class="circle-name">HN</div>
                                            <div class="name"><%= link_to  @users.where(id: photo.user_id).take.last_name, user_path(@users.where(id: photo.user_id).take.id), class:"name "%></div>
                                        </div>
                                        <div class="body-item">
                                            <h3 class="title"><%= photo.title%></h3>
                                            <p class="description m-0">
                                                <%=photo.description%>  
                                            </p>
                                        </div>
                                        <div class="footer-item d-flex justify-content-between" style="font-size: 12px;">
                                            <div class="reaction">
                                                <i class="fas fa-heart"></i>
                                                <span class="heart-count">123</span>
                                            </div>
                                            <div class="date-time">
                                                <span><%=photo.created_at%></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%#Modal %>
                        <div class="modal fade" id="<%= "exampleModalCenter#{photo.id}" %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title title" id="exampleModalLongTitle"><%=photo.title%></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img class="w-100" src="<%=photo.image%>"/>
                                    </div>
                                    <div class = "modal-title title">
                                        <h6><%=photo.description%></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>
<%= stylesheet_link_tag "photos.css" %>