<nav class="nav-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="nav-bar-brand">
                    <a href="#">Fotobook</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-3">
                <div class="search-text">
                    <input type="text" name="search" id="search" placeholder="Search Photo / Album" />
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                <div class="account">
                    <div class="avatar">
                        <img src="https://picsum.photos/300" />
                    </div>
                    <div class="name">
                        <span>Hieu Nguyen</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-3">
                <div class="btn-log">
                    <a href="#">Log out</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row pt-1 out-card pb-5">
        <div class="col-lg-2 col-md-2 col-sm-2 col-12 p-0">
            <div class="left-col d-flex">
                <ul class="list pt-4">
                    <li>
                        <a class="active" href="#">Feeds</a>
                    </li>
                    <li>
                        <a href="#">Discover</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mid-col col-lg-8 col-md-10 col-sm-10 col-12 p-0 pb-4">
            <div class="col-12 pl-0 pr-0">
                <div class="pt-4 pb-4">
                    <div class="btn-select d-flex">
                        <a href="#">Photo</a>
                        <a class="active" href="#">Album</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-12">
                <div class="row">
                <%@albums.each do |album|%>
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="items mt-3 mb-3 d-flex">
                            <div class="col-6 p-0">
                                <div class="left-item">
                                    <%# <img src="https://picsum.photos/300" style="
                          position: absolute;
                          transform: rotate(20deg);
                          top: 0;
                          bottom: 0;
                          left: 0;
                          right: 0;
                        " />
                                    <img src="https://picsum.photos/300" style="
                          position: absolute;
                          transform: rotate(10deg);
                          top: 0;
                          bottom: 0;
                          left: 0;
                          right: 0;
                        " /> %>
                                    <img src="https://picsum.photos/300" />
                                </div>
                            </div>
                            <div class="col-6 p-2">
                                <div class="right-item">
                                    <div class="header-item d-flex">
                                        <div class="circle-name">HN</div>
                                        <div class="name"><%=@accounts.where(id: album.account_id).take.last_name%></div>
                                    </div>
                                    <div class="body-item">
                                        <h5><%= link_to album.title_album,album%></h5>
                                        <h6><%= link_to "Edit", edit_album_path(album)%></h6>
                                        <p class="description m-0">
                                            
                                        </p>
                                    </div>
                                    <div class="footer-item d-flex justify-content-between" style="font-size: 12px;">
                                        <div class="reaction">
                                            <i class="fas fa-heart"></i>
                                            <span class="heart-count">123</span>
                                        </div>
                                        <div class="date-time">
                                            <span><%=album.created_at%></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <%end%>
                </div>
            </div>
        </div>
    </div>
</div>
<%= stylesheet_link_tag "albums.css" %>