<nav class="nav-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="nav-bar-brand">
                    <%= link_to  "Fotobook", root_path %>   
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-3">
                <div class="search-text">
                    <input type="text" name="search" id="search" placeholder="Search Photo / Album" />
                </div>
            </div>

            <% if user_signed_in? %>
                <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="account">
                        <div class="avatar">
                            <img src="<%=current_user.avatar%>" alt="None" />
                        </div>
                        <div class="name">
                            <span><%= link_to  current_user.last_name<<current_user.first_name, profile_photo_path(current_user), class:"name "%></span>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-3">
                    <div class="btn-log">
                    <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
                    </div>
                </div>
            <% else %>
                <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-3">
                    <div class="btn-log">
                    <%= link_to "Log in", new_user_session_path %><br />
                    </div>
                </div>
            <%end%>
        </div>
    </div>
</nav>

    <div class="container-fluid">
        <div class="row pt-1 out-card">
            <div class="col-lg-2 col-md-1 col-sm-1 col-12 p-0">
                <div class="left-col d-flex">
                    <ul class="list pt-4">
                        <li>
                            <a href="#">Feeds</a>
                        </li>
                        <li>
                            <%= link_to  "Discover", discovers_photos_path %>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-11 col-sm-11 col-12 p-0 mid-col mb-4">
                <div class="row p-5">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="info-top">
                            <div class="row">
                                <div class="col-lg-3 col-3">
                                    <div class="avatar">
                                        <img src="https://picsum.photos/300" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-9 col-9 p-0">
                                    <div class="col-lg-12 col-12">
                                        <% if current_user.id ==@users.id %>
                                            <div class="following">
                                                <%= link_to  "Edit profile", edit_user_registration_path,class:"custom-btn-edit"%>
                                            </div>
                                        <% else %>
                                            <div class="following">
                                                <%if current_user_is_following(current_user.id, @users.id)%>
                                                    <%= link_to "following", unfollow_user_path, :method => :post, :remote => 'true',id: 'follow-button', :class => "custom-btn-following"%>
                                                <%else%>
                                                    <%= link_to "follow", follow_user_path, :method => :post, :remote => 'true',id: 'follow-button', :class => "custom-btn"%>
                                                <%end%>
                                                <%# <div class="custom-btn">follow</div> %>
                                            </div>
                                        <%end%>
                                    </div>
                                    <div class="col-lg-12 col-12">
                                        <div class="name pt-2">
                                            <h1><%=@users.last_name<<@users.first_name%></h1>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-12 mt-3 d-flex">
                                        <div class="sub-info">
                                            <span class="number" ><%=@users.count_photo%></span>
                                            <span><%= link_to  "Photos", profile_photo_path, class:"sub-name-info"%></span>
                                            <span class="sign-divide">|</span>
                                        </div>

                                        <div class="sub-info">
                                            <span class="number"><%=@users.count_album%></span>
                                            <span><%= link_to  "Albums", profile_album_path, class:"sub-name-info"%></span>
                                            <span class="sign-divide">|</span>
                                        </div>

                                        <div class="sub-info">
                                            <span class="number active"><%=@users.count_follower%></span>
                                            <span class="sub-name-info active">Following</span>
                                            <span class="sign-divide">|</span>
                                        </div>

                                        <div class="sub-info">
                                            <span class="number"><%=@users.count_followee%></span>
                                            <span><%= link_to  "Follower", profile_follower_path, class:"sub-name-info"%></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-12 col-12 ">
                        <% if current_user.id ==@users.id %>
                            <div class="mt-3 float-right">
                                
                            </div>
                        <%else%>
                            <div class="mt-3"></div>
                        <%end%>
                    </div>
                    <div class="col-lg-12 col-12 ">
                        <div class="row">
                            <%@follower.each do |follower|%>
                                <div class="col-lg-3 col-md-6 col-6  p-0 pl-1 pr-1 ">
                                    <div class="items mt-3 mb-3">
                                        <div class="avatar mb-1">
                                            <img src="https://picsum.photos/300" alt="">
                                        </div>
                                        <div class="name mb-2"><%=User.where(id: follower.followee_id).first.last_name%></div>
                                        <div class="number d-flex justify-content-between">
                                            <div class="photo">
                                                <span class="number"><%=User.where(id: follower.followee_id).first.count_photo%></span>
                                                <span class="type">photo</span>
                                            </div>
                                            
                                            <div class="album mb-2">
                                                <span class="number"><%=User.where(id: follower.followee_id).first.count_album%></span>
                                                <span class="type">album</span>
                                            </div>
                                        </div>
                                        <div class="flw">
                                            <% if current_user.id ==@users.id %>
                                                <%= link_to "unfollow", unfollow_user_path(follower.followee_id), :method => :post, :remote => 'true',id: 'follow-button', :class => "custom-btn"%>
                                            <%else%>
                                                <%if current_user_is_following(current_user.id, follower.followee_id)%>
                                                    <%= link_to "following", unfollow_user_path(follower.followee_id), :method => :post, :remote => 'true',id: 'follow-button', :class => "custom-btn-following"%>
                                                <%else%>
                                                    <% if current_user.id ==follower.followee_id%>
                                                        <button class="custom-btn invisible" type="button" style=>NO</button>
                                                    <% else %>
                                                        <%= link_to "follow", follow_user_path(follower.followee_id), :method => :post, :remote => 'true',id: 'follow-button', :class => "custom-btn"%>
                                                    <%end%>
                                                <%end%>
                                            <%end%>
                                        </div>
                                    </div>
                                </div>
                            <%end%>            
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%= stylesheet_link_tag "profile_user_following.css" %>