<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="./asset/css/style.css">
    <link href="/asset/icon/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>  
    
    <section class="content" style="min-height: auto;">
        <% flash.each do |key, value| %>
            <div class="row">
            <div class="alert alert-<%= key %>">
                <%= value %>
            </div>
            </div>
        <% end %>
    </section>
    <%= yield %>

    <nav class="nav-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="nav-bar-brand">
                        <a href="#">Fotobook</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="search-text">
                        <input type="text" name="search" id="search" placeholder="Search Photo / Album">
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="account">
                        <div class="avatar">
                            <img src="https://picsum.photos/300">
                        </div>
                        <div class="name">
                            <span>Thanh Hai</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="btn-log">
                        <a href="#">Log out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row pt-1 out-card">
            <div class="col-lg-2 col-md-2 col-sm-2 col-12 p-0">
                <div class="left-col d-flex">
                    <ul class="list pt-4">
                        <li>
                            <a class="active" href="#">Feeds</a>
                        </li>
                        <li>
                            <a href="#">Discover</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-10 col-sm-10 col-12 p-0 mid-col mb-4">
                <div class="col-12 pl-0 pr-0">
                    <div class="pt-4 pb-4">
                        <div class="btn-select d-flex">
                            <a href="#">Photo</a>
                            <a class="active"  href="#">Album</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-12 col-12">
                    <div class="row pl-2 lr-2">
                    <% @albums.each  do |album| %>
                    
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="items mt-3 mb-3 d-flex">
                                <div class="col-6 p-0">
                                    <div class="left-item" data-toggle="modal" data-target="#exampleModalCenter">
                                        <img src="https://picsum.photos/300">
                                        
                                    </div>
                                </div>
                                <div class="col-6 p-2">
                                    <div class="right-item">
                                        <div class="header-item d-flex">
                                            <div class="circle-name">TH</div>
                                            <div class="name">Thanh Hai</div>
                                        </div>
                                        <div class="body-item">
                                            <h3 class="title"><%= link_to album.title_album,album%></h3>
                                            <h6><%= link_to "Edit", edit_album_path(album)%></h6>
                                            <p class="description m-0"></p>
                                        </div>
                                        <div class="footer-item d-flex justify-content-between">

                                            <div class="date-time">
                                                <span><%= album.created_at%></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    
                      

                      
                       

                       
                        
                        <%end%>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>

</html>